/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #3F69AA;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666666;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #3F69AA;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}



/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #3F69AA;
    border-radius: 0;
    margin-bottom: 15px
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #3F69AA;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #3F69AA;
}

button.btn {
    color: #ffffff;
    background: #3F69AA;
    border-radius: 0;
}



/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 15px 0;
    background: #3F69AA;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-height: 60px;
}

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .top-header .logo {
        text-align: center;
    }

}


/**********************************/
/********* Header Slider **********/
/**********************************/
.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: #ffffff;
}

.slick-prev {
    left: 55px;
}

.slick-next {
    right: 55px;
}

.slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: #3F69AA;
    background: #ffffff;
}

.slick-prev::before,
.slick-next::before {
    font-family: "FontAwesome";
    font-size: 30px;
    color: #3F69AA;
}

.slick-prev::before {
    content: "\f104";
}

.slick-next::before {
    content: "\f105";
}

.slick-dots li button:before {
    color: #ffffff;
    font-size: 15px;
}

.slick-dots li.slick-active button:before {
    color: #353535;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.home-slider {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-slider .main-slider-item {
    padding: 0 7.5px;
    position: relative; 
    overflow: hidden;
    height: 400px;
}

.home-slider .main-slider-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.home-slider .slick-dots {
    bottom: 15px;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

.banner-text .title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 5px;
}

.banner-text .description {
    font-size: 20px;
    margin: 0 0 20px;
}

/* Media query untuk tampilan responsif */
@media (max-width: 768px) {
    .home-slider .main-slider-item {
        height: 250px; /* Tinggi slider untuk perangkat lebih kecil */
    }

    .home-slider .main-slider-item img {
        border-radius: 20px; /* Rounded tetap konsisten */
    }

    .banner-text {
        bottom: 10px;
        left: 10px;
        padding: 8px 12px;
    }

    .banner-text .title {
        font-size: 20px;
    }

    .banner-text .description {
        font-size: 11px;
        margin: 0 0 20px;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }

    .slick-prev::before,
    .slick-next::before {
        font-size: 20px;
    }

    .slick-dots li {
        margin: 0 5px;
    }
    .slick-dots li button:before {
        color: #ffffff;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .home-slider .main-slider-item {
        height: 200px; 
    }

    .banner-text {
        bottom: 5px;
        left: 5px;
        padding: 6px 10px;
    }

    .banner-text .title {
        font-size: 18px;
    }

    .banner-text .description {
        font-size: 10px;
        margin: 0 0 20px;
    }

    .slick-prev,
    .slick-next {
        width: 25px;
        height: 25px;
    }

    .slick-prev::before,
    .slick-next::before {
        font-size: 18px;
    }

    .slick-dots li {
        margin: 0 2px;
    }

    .slick-dots li button:before {
        color: #ffffff;
        font-size: 8px;
    }
}




/**********************************/
/********* Breadcrumb CSS *********/
/**********************************/
.breadcrumb-wrap {
    position: relative;
    width: 100%;
    background: #ffffff;
}

.breadcrumb-wrap .breadcrumb {
    margin: 15px 0 0 0;
    padding: 0;
    background: none;
}



/**********************************/
/********** Category CSS **********/
/**********************************/
.category {
    position: relative;
    padding: 0 7.5px;
    background: #ffffff;
}

@media (max-width: 575.98px) {
    .category {
        padding: 45px 7.5px 30px 7.5px;
    }
}

.category .col-md-4,
.category .col-md-6 {
    padding: 0 7.5px;
}

.category .category-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.category .category-img img {
    width: 100%;
    object-fit: cover;
}

.category .category-img:hover img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.category .category-name {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    opacity: 0;
    background: rgba(63, 105, 170, .5);
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
}

.category .category-name:hover {
    opacity: 1;     
}

.category .category-name h2 {
    margin: 0 0 -50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    transition: .5s;
}

.category .category-name:hover h2 {
    margin: 0;       
}



/**********************************/
/******* Section Header CSS *******/
/**********************************/
.section-header {
    position: relative;
    max-width: 700px;
    margin: 30px auto 30px auto;
}

.section-header h2,
.section-header h3 {
    position: relative;
    color: #3F69AA;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.section-header h2::after,
.section-header h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    bottom: 0;
    background: #3F69AA;
}

.section-header p {
    font-size: 16px;
    text-align: center;
    margin: 0
}



/**********************************/
/*********** Feature CSS **********/
/**********************************/
.feature {
    position: relative;
    padding: 0;
}

.feature .feature-col {
    height: inherit;
    border-right: 1px solid #dddddd;
    padding: 60px 0;
}

.feature .feature-col:last-child {
    border-right: none;
}

.feature .feature-content {
    position: relative;
    width: 100%;
    padding: 0 30px;
    text-align: center;
}

.feature .feature-content i {
    color: #3F69AA;
    font-size: 60px;
    margin-bottom: 10px;
}

.feature .feature-content h2 {
    color: #666666;
    font-size: 20px;
    font-weight: 700;
}

.feature .feature-content p {
    color: #666666;
    font-size: 15px;
    margin: 0;
}

@media (max-width: 767.98px) {
    .feature .feature-col {
        padding: 40px 0; 
    }

    .feature .feature-content i {
        font-size: 30px; 
    }

    .feature .feature-content h2 {
        font-size: 13px;
    }

    .feature .feature-content p {
        font-size: 10px;
    }

    .feature .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature .feature-col {
        width: 48%;
        border-right: none;
        margin-bottom: 20px;
    }
}



/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 15px;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #3F69AA;
    margin-bottom: 15px; 
    transition: .3s;
}

.product-item:hover .product-image a {
    background: rgba(63, 105, 170, .5);
}

.product-item .product-image img {
    width: 100%; 
}

.product-item:hover .product-image img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.product-item .product-image .product-action {
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 50%;
    text-align: center;
    transition: .5s;
    opacity: 0; 
}

.product-item:hover .product-image .product-action {
    top: calc(50% - 25px);
    opacity: 1; 
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    background: #3F69AA;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #3F69AA;
    background: #ffffff;
}

.product-item .product-content {
    position: relative;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
}

.product-item .product-content .title,
.product-item .product-content .ratting,
.product-item .product-content .price {
    position: relative;
    width: 100%;
}

.product-item .product-content .title {
    margin-bottom: 5px;
}

.product-item .product-content .title a {
    color: #3F69AA;
    font-size: 18px;
    font-weight: 600;
}

.product-item .product-content .ratting i {
    font-size: 14px;
    color: #3F69AA;
}

.product-item .product-content .price {
    font-size: 20px;
    color: #3F69AA;
    font-weight: 700; 
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #666666;
}

.product-slider.slick-slider:hover .slick-prev {
    left: 30px;
    opacity: 1;
}

.product-slider.slick-slider:hover .slick-next {
    right: 30px;
    opacity: 1;
}

/**********************************/
/******** Product View CSS ********/
/**********************************/
.product-view {
    position: relative;
    width: 100%;
    padding: 60px 0;
}

.product-view .product-search {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.product-view .product-search input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #3F69AA;
}

.product-view .product-search button {
    position: absolute;
    width: 35px;
    height: 33px;
    top: 1px;
    right: 1px;
    text-align: center;
    background: #ffffff;
    color: #3F69AA;
    border: none;
}

.product-view .product-search button i {
    font-size: 16px;
}

.product-view .product-search button:hover {
    background: #3F69AA;
    color: #ffffff;
}

.product-view .product-short {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
}

.product-view .product-short .dropdown a.dropdown-toggle {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid #3F69AA;
    text-align: left;
}

.product-view .product-short .dropdown a.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.product-view .product-short .dropdown-menu {
    margin: -2px 0 0 0;
    border-radius: 0;
}

.product-view .product-item {
    margin-bottom: 30px;
}

.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #3F69AA;
    background: #ffffff;
    border-color: #3F69AA;
    border-radius: 0;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #ffffff;
    background: #3F69AA;
}






/**********************************/
/******* Testimonial CSS *******/
/**********************************/
.testimonial-slider {
    padding: 40px 0;
    background: #3F69AA;
}

.testimonial-slider .section-header {
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Menambahkan position relative */
}

.testimonial-slider .section-header h3 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.testimonial-slider .section-header p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}

.testimonial-slider .section-header h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background: #fff;
}

.testimonial-item {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.testimonial-item:hover {
    transform: translateY(-10px);
}

.testimonial-content {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.testimonial-author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.testimonial-author img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}

.author-info h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.author-info p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .testimonial-slider-items .col-lg-4 {
        max-width: 100%;
        padding: 10px;
    }
}

.slick-slide {
    padding: 0 15px;
}



/**********************************/
/********** Sidebar CSS ***********/
/**********************************/
.sidebar-widget {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.sidebar-widget:last-child {
    margin-bottom: 0;
}

.sidebar-widget .title {
    position: relative;
    color: #3F69AA;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sidebar-widget .title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    left: calc(50% - 25px);
    bottom: 0;
    background: #3F69AA;
}

.sidebar-widget.brands ul,
.sidebar-widget.category ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-widget.brands ul li,
.sidebar-widget.category ul li {
    margin-bottom: 12px; 
}

.sidebar-widget.brands ul li:last-child,
.sidebar-widget.category ul li:last-child {
    margin-bottom: 0; 
}

.sidebar-widget.brands ul li a,
.sidebar-widget.category ul li a {
    color: #3F69AA;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    line-height: 23px;
}

.sidebar-widget.brands ul li a::before,
.sidebar-widget.category ul li a::before {
    content: '\f061';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.sidebar-widget.brands ul li a:hover,
.sidebar-widget.category ul li a:hover {
    padding-left: 10px; 
}

.sidebar-widget.brands ul li span,
.sidebar-widget.category ul li span {
    display: inline-block;
    float: right;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-widget.image a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar-widget.image img {
    max-width: 100%;
    transition: .3s;
}

.sidebar-widget.image img:hover {
    transform: scale(1.1);
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.sidebar-widget.tag a {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 400;
    color: #3F69AA;
    background: #ffffff;
    border: 1px solid #3F69AA;
}

.sidebar-widget.tag a:hover {
    color: #ffffff;
    background: #3F69AA;
}



/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand {
    position: relative;
    padding: 0 0 60px 0;
}

.brand-item {
    text-align: center; 
}

.brand-item img {
    max-width: 100%;
    margin: auto; 
}


/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 60px 0 0 0;
    background: #3F69AA;
}

@media (min-width: 992px) {
    .footer .container-fluid {
        max-width: 95%;
    }
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.footer .footer-widget h1 {
    color: #ffffff;
    margin-bottom: 18px; 
}

.footer .footer-widget .title {
    color: #ffffff;
    white-space: nowrap;
}

.footer .footer-widget p {
    color: #ffffff;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #ffffff;
    white-space: nowrap;
    display: block;
    line-height: 23px;
}

.footer .footer-widget ul li a::before {
    content: '\f061';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    padding-left: 10px; 
}

.footer .contact-info p {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p i {
    color: #ffffff;
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 2px 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ffffff;
}

.footer .social a i {
    color: #ffffff;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #4977bf;
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method,
    .footer .payment-security {
        text-align: center; 
    } 
}

.footer .payment-method p,
.footer .payment-security p{
    display: inline-block;
    margin: 0 10px 0 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}



/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #ffffff;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #666666;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}